*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    margin: 0;
    padding: 2rem;
    background: salmon;
    font-size: 20px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

.digital-clock {
    margin-top: 20px;
}

.analog-clock {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    border: 2px solid black;
    position: relative;
}

.hour {
    position: absolute;
    width: 4px;
    bottom: 50%;
    left: calc(50% - 2px);
    background-color: black;
    height: 40%;
    transform: rotate(calc(var(--hour, 0) * 1deg));
    transform-origin: center bottom;
}

.minute {
    position: absolute;
    width: 2px;
    bottom: 50%;
    left: calc(50% - 1px);
    background-color: black;
    height: 43%;
    transform: rotate(calc(var(--minute, 0) * 1deg));
    transform-origin: center bottom;
}

.second {
    position: absolute;
    width: 1px;
    bottom: 50%;
    left: calc(50% - 1px);
    background-color: red;
    height: 47%;
    transform: rotate(calc(var(--second, 0) * 1deg));
    transform-origin: center bottom;
}

.analog-clock-css {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    border: 2px solid black;
    position: relative;
}

.hour-css {
    position: absolute;
    width: 4px;
    bottom: 50%;
    left: calc(50% - 2px);
    background-color: black;
    height: 40%;
    transform-origin: center bottom;
    animation: clockH 86400s steps(60,end) infinite;
}

.minute-css {
    transform: rotate(calc(var(--minute-css 0) * 1deg));
    position: absolute;
    width: 2px;
    bottom: 50%;
    left: calc(50% - 2px);
    background-color: black;
    height: 43%;
    animation: clockM 3600s steps(60, end) infinite;
    transform-origin: center bottom;
}

.second-css{
    position: absolute;
    width: 1px;
    bottom: 50%;
    left: calc(50% - 1px);
    background-color: rgb(170, 16, 16);
    height: 47%;
    transform-origin: center bottom;
    animation: clockS 60s steps(60, end) infinite;
}

@keyframes clockS {
    from { transform: rotate(calc(var(--second-css, 0) * 1deg));}
    to {transform: rotate(calc(360deg + (var(--second-css, 0) * 1deg)));}
 }

@keyframes clockM {
    from { transform: rotate(calc(var(--minute-css, 0) * 1deg));}
    to {transform: rotate(calc(360deg + (var(--minute-css, 0) * 1deg)));}
 }
@keyframes clockH {
    from { transform: rotate(calc(var(--hour-css, 0) * 1deg));}
    to {transform: rotate(calc(360deg + (var(--hour-css, 0) * 1deg)));}
 }